.carddiv{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}  

h4{
    padding-top: 10px;
}

.ModalHeader{
    text-align: center;
    background-color: black;
}

.Modal{
    background-color: black;
    color: white;
}

.footer .share {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}